<div class="col-md-6 col-lg-4 complete-card">
    <div class="thumbnail">
        <img src="<%= picture %>">
        <div class="info">
            <h4><%= name %></h4>
            <h4>
                <small>Стиль: <%= styles %></small>
            </h4>
            <h4>
                <small>Довжина: <%= length %> см</small>
            </h4>
            <h4>
                <small>Гнучкість: <%= flex %></small>
            </h4>
            <h4>
                <small>Підвіски: <%= trucks_ln %>mm</small>
            </h4>
            <h4>
                <small>Колеса: <%= wheels_ln %>mm</small>
            </h4>
            <h4>Ціна: <%= price %>грн</h4>
        </div>
    </div>
</div>